body {
  margin: 0;
}

.NavBar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-wrap {
  min-width: fit-content;
  min-height: fit-content;
}
.calculator {
  background-color: black;
  text-align: center;
}
.text {
  margin: 0;
  height: 10vh;
  width: 28vh;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
}

em {
  font-size: 30px;
  color: white;
}
.button-gray {
  height: 7vh;
  width: 7vh;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  background-color: #a0a0a0;
}
.button-orange {
  height: 7vh;
  width: 7vh;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: orange;
}

.button-blackish {
  height: 7vh;
  width: 7vh;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #505050;
}

.button-zero {
  height: 6vh;
  width: 15vh;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #505050;
}

.buttons {
  min-width: min-content;
  min-height: min-content;
}
